@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Your custom styles can go below if needed */
body {
	font-family: "Inter", sans-serif;
}

.task-card-container {
	display: flex;
	flex-direction: column;
}
