
@media screen and (max-width: 956px) {
    body {
        zoom: 0.8;
    }
}

body {
    font-family: 'Fredoka', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
}

h2.title {
    font-size: 30px;
    font-weight: 600;
    color: #644700;
}

.direction-text, .score-table-text {
    text-align: center;
}

.direction-text {
    font-size: 20px;
}

.score-table-text {
    font-size: 18px;
    color: #946a00;
    margin-bottom: 5px;
    margin-top: 20px;
}

h2.vs-text {
    font-size: 36px;
    font-weight: 500;
    color: #946a00;
}

h4#result-text, h5.direction-text {
    text-align: center;
    font-size: 22px;
    color: #946a00;
}

.container {
    display: flex;
    gap: 60px;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fffdf9;
    width: 630px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ffe5a4;
    gap: 15px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.hero-container .col-1 {
    flex: 1;
}

.hero-container .col-2 {
    flex: 2;
}

.hero-container .col-3 {
    flex: 1;
}

.col-2 {
    text-align: center;
}

.col-3 {
    display: flex;
    justify-content: flex-end;
}

.reset-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    gap: 5px;
    background: #ffffff;
    border: 1px solid #eeebe1;
    box-shadow: 0px 2px 0px 0px #e7e3d3;
    cursor: pointer;
    transition: ease-out 0.1s;
    font-size: 14px;
    font-family: 'Fredoka';
    color: #946a00;
}

.reset-button:hover {
    background: #fff9ea;
    box-shadow: 0px 2px 0px 0px rgb(255 192 35);
    border-color: #ffebbb;
    transition: ease-out 0.05s;
}

.reset-button:active {
    translate: 0px 2px;
    box-shadow: none;
    transition: ease-out 0.07s;
}

.reset-button img {
    height: 20px;
}

.result {
    width: 200px;
}

.move-container {
    display: flex;
    justify-content: center;
}

.move {
    display: flex;
    width: 115px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #ffc023;
    border: 1px solid #efefef;
    border-radius: 15px;
}

.move img {
    filter: brightness(0) invert(1);
}

img#player-pick {
    transform: scaleY(-1) rotate(90deg);
}

img#computer-pick {
    transform: rotate(-90deg);
}


.move h5 {
    color: #fff;
}

.vs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.pick-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 20px;
}

.pick-button {
    display: flex;
    width: 115px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #eeebe1;
    border-radius: 15px;
    box-shadow: 0px 3px 0px 0px #e7e3d3;
    cursor: pointer;
    transition: ease-out 0.1s;
    font-size: 15px;
    font-family: 'Fredoka';
    color: #946a00;
}

.pick-button:hover {
    background: #fff9ea;
    box-shadow: 0px 3px 0px 0px rgb(255 192 35);
    border-color: #ffebbb;
    transition: ease-out 0.05s;
}

.pick-button:active {
    translate: 0px 3px;
    box-shadow: none;
    transition: ease-out 0.07s;
}

.pick-icon {
    height: 45px;
}

.show-picked-icon {
    height: 70px;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

table {
    width: 355px;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffc023;
    border-style: solid;

}

table td {
    border-width: 2px;
    border-color: #ffc023;
    border-style: solid;
    padding: 5px;
    text-align: center;
    color: #946a00;
}

table th {
    border-width: 2px;
    border-color: #ffc023;
    border-style: solid;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
}

table thead {
    background-color: #ffc023;
}

@keyframes entryLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-40px) scaleY(-1) rotate(90deg);
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0) scaleY(-1) rotate(90deg);
  }
}

.animate-entry-player {
  animation: entryLeftToRight 0.25s ease-in forwards;
}

@keyframes entryRightToLeft {
  0% {
    opacity: 0;
    transform: translateX(40px) rotate(-90deg);
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(-90deg);
  }
}

.animate-entry-computer {
  animation: entryRightToLeft 0.25s ease-in forwards;
}

